.ui.active.modal {
	text-align: center;
	top: 50%;
	transform: translate(0,-50%);
}

.loginbody {
    margin-top: 50px;
    margin-bottom: 50px;
}

.fillout {
	margin-top: 20px;
    margin-bottom: 20px;
}