.unauthorized{
	top: 50%;
    position: absolute;
    left: 50%;
    width: 60%;
    height: 20%;
}

.olive.card{
	text-align: center;
	width: 100% !important;
	height: 100% !important;
	transform: translate(-50%, -50%);
}

.unauthorized_text{
	top: 50%;
    position: relative;
    transform: translate(0,-50%);
}


.ui.fixed.inverted.menu {
	position: sticky;
}

.menu.item.right {
	float: right;
}

.ui.container {
	padding-top: 5px;
	padding-bottom: 5px;
}
.ui.button {
	height: 40px;	
}

#xx{
	float: right;
	background-color: transparent!important;
	margin-top: -2%;
}

.songAppended{
	width: 100%!important;
}

.ui.cards a.card, .ui.link.card, .ui.link.cards .card, a.ui.card {
	width: 100%;
}

.ui.cards{
	margin-top: 0em!important;
}

.lookUpSongsInput{
	width: 100%;
}

.recommendedLists{
	width: 100%;
}

.autoplayOption.button{
	padding: 0;
	background-color: transparent!important;
}

.fa {
	resize: 300%;
}

.fa-arrow-circle-left{
	color: darkorange;
}

.fa-play-circle{
	color: green;
} 

.fa-stop-circle{
	color: red;
	
}

.fa-pause-circle{
	color: yellow;
} 

.fa-arrow-circle-right{
	color: darkorange;
}

i.fa-magic{
	color: plum;
}

.fa-play{
	color: green;
}

.fa-window-close-o{
	color: black;
}