.unauthorized{
	top: 50%;
    position: absolute;
    left: 50%;
    width: 60%;
    height: 20%;
}

.olive.card{
	text-align: center;
	width: 100% !important;
	height: 100% !important;
	transform: translate(-50%, -50%);
}

.unauthorized_text{
	top: 50%;
    position: relative;
    transform: translate(0,-50%);
}


.ui.fixed.inverted.menu {
	position: sticky;
}

.menu.item.right {
	float: right;
}

.ui.container {
	padding-top: 5px;
	padding-bottom: 5px;
}
.ui.button {
	height: 40px;	
}

#xx{
	float: right;
	background-color: transparent!important;
	margin-top: -2%;
}

.songAppended{
	width: 100%!important;
}

.ui.cards a.card, .ui.link.card, .ui.link.cards .card, a.ui.card {
	width: 100%;
}

.ui.cards{
	margin-top: 0em!important;
}

.lookUpSongsInput{
	width: 100%;
}

.recommendedLists{
	width: 100%;
}